.filter {
  border-bottom: 1px solid #555;
  margin-bottom: 20px;
  padding-bottom: 20px;

  .filter-options {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }

  .filter-options div {
    flex: 1 1 0;
  }

  input,
  select {
    padding: 5px;
    margin-bottom: 18px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
  }
  button {
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .filter-options {
    flex-direction: column;

    .ordern {
      margin-top: -70px;

      button {
        margin-top: -40px;
      }
    }
  }
}
